{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>Edunes</title>

    <!-- Favicon -->
    <link rel="icon" href="">

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="{% static 'blog/style.css' %}">

</head>

<body>

    <!-- ##### Header Area Start ##### -->
    <header class="header-area">
         <div class="top-header-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="top-header-content d-flex align-items-center justify-content-between">
                            <!-- Logo -->
                            <div class="logo">
                                <a href="{% url 'blog-home' %}"><img src="{% static 'blog/img/core-img/logo.png' %}" alt=""></a>
                            </div>

                            <!-- Login Search Area -->
                            <div class="login-search-area d-flex align-items-center">
                                <!-- Search Form -->
                                <div class="search-form">
                                    <form action="{% url 'search-result' %}" method="get">
                                        {% csrf_token %}
                                        <input type="search" name="search" class="form-control" placeholder="Search...">
                                        <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Navbar Area -->
        <div class="newspaper-main-menu" id="stickyMenu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="newspaperNav">

                        <!-- Logo -->
                        <div class="logo">
                            <a href="index.html"><img src="{% static 'blog/img/core-img/logo.png' %}" alt=""></a>
                        </div>

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- close btn -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <li class="active"><a href="{% url 'blog-home' %}">Home</a></li>
                                    <li><a href="{% url 'blog-politics' %}">Politics</a></li>
                                    <li><a href="{% url 'blog-business' %}">Business</a></li>
                                    <li><a href="{% url 'blog-technology' %}">Technology</a></li>
                                    <li><a href="{% url 'blog-entertainment' %}">Entertainment</a></li>
                                    <li><a href="{% url 'blog-fashion' %}">Fashion</a></li>
                                    <li><a href="{% url 'blog-arts-culture' %}">Arts/Culture</a></li>
                                    <li><a href="{% url 'blog-health' %}">Health</a></li>
                                    <li><a href="#">Society</a></li>
                                    <li><a href="{% url 'blog-contact' %}">Contact</a></li>
                                </ul>

                            </div>
                            <!-- Nav End -->
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->
    {% block content %}
    {% endblock content %}

    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area">
        <div class="">
            <div class="container-fluid h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-4">
                        <p class="text-muted">Logo here</p>
                    </div>
                    <div class="col-4">
                        <p>Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved </p>
                    </div>
                    <div class="col-4 socialbtn">
                        <a href="#" class="fa fa-facebook"></a>
                        <a href="#" class="fa fa-twitter"></a>
                        <a href="#" class="fa fa-youtube"></a>
                        <a href="#" class="fa fa-instagram"></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ##### Footer Area Start ##### -->

    <!-- ##### All Javascript Files ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="{% static 'blog/js/jquery/jquery-2.2.4.min.js' %}"></script>
    <!-- Popper js -->
    <script src="{% static 'blog/js/bootstrap/popper.min.js' %}"></script>
    <!-- Bootstrap js -->
    <script src="{% static 'blog/js/bootstrap/bootstrap.min.js' %}"></script>
    <!-- All Plugins js -->
    <script src="{% static 'blog/js/plugins/plugins.js' %}"></script>
    <!-- Active js -->
    <script src="{% static 'blog/js/active.js' %}"></script>
</body>

</html>