{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>Edunes</title>

    <!-- Favicon -->
    <link rel="icon" href="{% static 'blog/img/core-img/browser.ico' %}">
    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="{% static 'blog/style.css' %}">

</head>

<body>
    {% block navbar %}
    {% endblock navbar %}
    {% block content %}
    {% endblock content %}

    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area">
        <div class="">
            <div class="container-fluid h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-lg-4 col-md-4">
                        <div class="logo">
                            <img src="{% static 'blog/img/core-img/edunes_logo.png' %}" alt="">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <p>&copy;<script>document.write(new Date().getFullYear());</script> Edunes Publication</p>
                    </div>
                    <div class="col-lg-4 col-md-4 socialbtn">
                        <a href="https://www.facebook.com/Edunes-Publication-105780360769273" target="_blank" class="fa fa-facebook"></a>
                        <a href="https://twitter.com/edunes2" target="_blank" class="fa fa-twitter"></a>
                        <a href="https://www.youtube.com/channel/UCJW06ZvJaZane1gPbLmL6tA/featured" target="_blank" class="fa fa-youtube"></a>
                        <a href="https://www.instagram.com/edunes_publication" target="_blank" class="fa fa-instagram"></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ##### Footer Area Start ##### -->

    <!-- ##### All Javascript Files ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="{% static 'blog/js/jquery/jquery-2.2.4.min.js' %}"></script>

    <!-- Popper js -->
    <script src="{% static 'blog/js/bootstrap/popper.min.js' %}"></script>
    <!-- Bootstrap js -->
    <script src="{% static 'blog/js/bootstrap/bootstrap.min.js' %}"></script>
    <!-- All Plugins js -->
    <script src="{% static 'blog/js/plugins/plugins.js' %}"></script>
    <!-- Active js -->
    <script src="{% static 'blog/js/active.js' %}"></script>
</body>

</html>