{% extends 'blog/base.html' %}
{% load static %}
{% block navbar %}
     <!-- ##### Header Area Start ##### -->
    <header class="header-area">
         <div class="top-header-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="top-header-content d-flex align-items-center justify-content-between">
                            <!-- Logo -->
                            <div class="logo">
                                <a href="{% url 'blog-home' %}"><img src="{% static 'blog/img/core-img/edunes_logo.png' %}" alt=""></a>
                            </div>

                            <!-- Login Search Area -->
                            <div class="login-search-area d-flex align-items-center">
                                <!-- Search Form -->
                                <div class="search-form">
                                    <form action="{% url 'search-result' %}" method="get">
                                        {% csrf_token %}
                                        <input type="search" name="search" class="form-control" placeholder="Search...">
                                        <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Navbar Area -->
        <div class="newspaper-main-menu" id="stickyMenu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="newspaperNav">

                        <!-- Logo -->
                        <div class="logo">
                            <a href="index.html"><img src="{% static 'blog/img/core-img/edunes_logo.png' %}" alt=""></a>
                        </div>

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- close btn -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul id="nav_active">
                                    <li><a href="{% url 'blog-home' %}">Home</a></li>
                                    <li><a href="{% url 'blog-politics' %}">Politics</a></li>
                                    <li><a href="{% url 'blog-business' %}">Business</a></li>
                                    <li><a href="{% url 'blog-technology' %}">Technology</a></li>
                                    <li><a href="{% url 'blog-entertainment' %}">Entertainment</a></li>
                                    <li><a href="{% url 'blog-fashion' %}">Fashion</a></li>
                                    <li><a href="{% url 'blog-arts-culture' %}">Arts/Culture</a></li>
                                    <li><a href="{% url 'blog-health' %}">Health</a></li>
                                    <li><a href="{% url 'blog-sport' %}">Sports</a></li>
                                    <li><a href="#">Society</a>
                                        <div class="megamenu">
                                            <ul class="single-mega cn-col-4">
                                                <li class="title">Institutions</li>
                                                <li><a href="{% url 'university-of-ghana' %}">University of Ghana</a></li>
                                                <li><a href="#">University of Cape Coast</a></li>
                                                <li><a href="#">KNUST</a></li>
                                                <li><a href="#">University of Education</a></li>
                                                <li><a href="#">University for Development Studies</a></li>
                                            </ul>
                                            <ul class="single-mega cn-col-4">
                                                <li class="title">Institutions</li>
                                                <li><a href="#">University of Mines and Technology</a></li>
                                                <li><a href="#">University of Professional studies</a></li>
                                                <li><a href="#">University of Health and Allied Science</a></li>
                                                <li><a href="#">University of Energy and Natural Resources</a></li>
                                                <li><a href="#">Ashesi University</a></li>
                                            </ul>
                                            <ul class="single-mega cn-col-4">
                                                <li class="title">Institutions</li>
                                                <li><a href="#">Accra Technical University</a></li>
                                                <li><a href="#">Cape Coast Technical University</a></li>
                                                <li><a href="#">Kumasi Technical University</a></li>
                                                <li><a href="#">Koforidua Technical University</a></li>
                                                <li><a href="#">Takoradi Technical University</a></li>
                                            </ul>
                                            <div class="single-mega cn-col-4">
                                            </div>
                                        </div>
                                    </li>
                                    <li class="active"><a href="{% url 'blog-contact' %}">Contact</a></li>
                                </ul>

                            </div>
                            <!-- Nav End -->
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->
{% endblock navbar %}
{% block content %}
       <div class="container">
        <div class="row mt-3 mb-5">
            <div class="col-md-6 pr-md-5">
                <a class="pr-3"><i class="fa fa-phone" style="font-size: x-large"></i> +233 555397320</a>
                <a class="pr-3"><i class="fa fa-envelope" style="font-size: x-large"></i> edunes@gmail.com</a>
                <a class="pr-3"><i class="fa fa-map-marker" style="font-size: x-large"></i> University of Ghana</a>
            </div>
        </div>
    </div>
    <div class="container">
      <div class="row mb-2">
        <div class="col-md-6 pr-md-5">
          <form method="POST">
              {% csrf_token %}
            <div class="form-group">
                {{ form.name }}
            </div>
            <div class="form-group">
                {{ form.email }}
            </div>
            <div class="form-group">
                {{ form.subject }}
            </div>
            <div class="form-group">
                {{ form.message }}
            </div>
            <div class="form-group">
              <input type="submit" value="Send Message" class="btn btn-danger py-3 px-5">
            </div>
          </form>
        </div>
        <div class="col-md-6">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d127046.1916241299!2d-0.05868367644854228!3d5.6851538299470015!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x102078a5400d3e29%3A0xccdf4b5d4026488b!2sTema!5e0!3m2!1sen!2sgh!4v1563565967987!5m2!1sen!2sgh" width="600" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>

      </div>
    </div>
{% endblock %}