{% extends 'blog/base.html' %}
{% load static %}
{% block navbar %}
     <!-- ##### Header Area Start ##### -->
    <header class="header-area">
         <div class="top-header-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="top-header-content d-flex align-items-center justify-content-between">
                            <!-- Logo -->
                            <div class="logo">
                                <a href="{% url 'blog-home' %}"><img src="{% static 'blog/img/core-img/edunes_logo.png' %}" alt=""></a>
                            </div>

                            <!-- Login Search Area -->
                            <div class="login-search-area d-flex align-items-center">
                                <!-- Search Form -->
                                <div class="search-form">
                                    <form action="{% url 'search-result' %}" method="get">
                                        {% csrf_token %}
                                        <input type="search" name="search" class="form-control" placeholder="Search...">
                                        <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Navbar Area -->
        <div class="newspaper-main-menu" id="stickyMenu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="newspaperNav">

                        <!-- Logo -->
                        <div class="logo">
                            <a href="index.html"><img src="{% static 'blog/img/core-img/edunes_logo.png' %}" alt=""></a>
                        </div>

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- close btn -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul id="nav_active">
                                    <li><a href="{% url 'blog-home' %}">Home</a></li>
                                    <li><a href="{% url 'blog-politics' %}">Politics</a></li>
                                    <li><a href="{% url 'blog-business' %}">Business</a></li>
                                    <li><a href="{% url 'blog-technology' %}">Technology</a></li>
                                    <li class="active"><a href="{% url 'blog-entertainment' %}">Entertainment</a></li>
                                    <li><a href="{% url 'blog-fashion' %}">Fashion</a></li>
                                    <li><a href="{% url 'blog-arts-culture' %}">Arts/Culture</a></li>
                                    <li><a href="{% url 'blog-health' %}">Health</a></li>
                                    <li><a href="{% url 'blog-sport' %}">Sports</a></li>
                                    <li><a href="#">Society</a>
                                        <div class="megamenu">
                                            <ul class="single-mega cn-col-4">
                                                <li class="title">Institutions</li>
                                                <li><a href="{% url 'university-of-ghana' %}">University of Ghana</a></li>
                                                <li><a href="#">University of Cape Coast</a></li>
                                                <li><a href="#">KNUST</a></li>
                                                <li><a href="#">University of Education</a></li>
                                                <li><a href="#">University for Development Studies</a></li>
                                            </ul>
                                            <ul class="single-mega cn-col-4">
                                                <li class="title">Institutions</li>
                                                <li><a href="#">University of Mines and Technology</a></li>
                                                <li><a href="#">University of Professional studies</a></li>
                                                <li><a href="#">University of Health and Allied Science</a></li>
                                                <li><a href="#">University of Energy and Natural Resources</a></li>
                                                <li><a href="#">Ashesi University</a></li>
                                            </ul>
                                            <ul class="single-mega cn-col-4">
                                                <li class="title">Institutions</li>
                                                <li><a href="#">Accra Technical University</a></li>
                                                <li><a href="#">Cape Coast Technical University</a></li>
                                                <li><a href="#">Kumasi Technical University</a></li>
                                                <li><a href="#">Koforidua Technical University</a></li>
                                                <li><a href="#">Takoradi Technical University</a></li>
                                            </ul>
                                            <div class="single-mega cn-col-4">
                                            </div>
                                        </div>
                                    </li>
                                    <li><a href="{% url 'blog-contact' %}">Contact</a></li>
                                </ul>

                            </div>
                            <!-- Nav End -->
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->
{% endblock navbar %}

{% block content %}
    <!-- ##### Blog Area Start ##### -->
    <div class="blog-area section-padding-0-80">
        <div class="container">
            <div class="row bg">
                <div class="col-12 col-lg-7 bg-light">
                    <div class="blog-posts-area">
                        {% for enter in news %}
                        <div class="row mt-3 mb-3">
                        <div class="col-6 col-md-6">
                            <a href="{{ enter.get_absolute_url }}"><img src="{{ enter.picture.url }}" alt=""></a>
                        </div>
                        <div class=" col-6 text">
                            <h6 class="post-title">{{ enter.title }}</h6>
                            <div class="post-meta d-flex">
                                <a href="#"><i class="fa fa-user pr-1" aria-hidden="true"></i>{{ enter.reporter }}</a>
                                <a href="#"><i class="fa fa-calendar pl-2 pr-1" aria-hidden="true"></i>{{ enter.date|date:'F d, Y' }}</a>
                            </div>
                            <p>{{ enter.content|truncatewords:15 }}</p>
                            <a href="{{ enter.get_absolute_url }}" class="btn btn-danger" role="button">Read more</a>
                        </div>
                        </div>
                        {% endfor %}
                    </div>
                      {% if news.has_other_pages %}
                    <nav aria-label="Page navigation example">
                        <ul class="pagination mt-50">
                            {% if news.has_previous %}
                                <li class="page-item"><a class="page-link" href="?page={{ news.previous_page_number }}"><i class="fa fa-angle-double-left"></i></a></li>
                            {% endif %}
                            {% for i in news.paginator.page_range %}
                                {% if news.number == i %}
                                    <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
                                {% else %}
                                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                {% endif %}
                            {% endfor %}
                            {% if news.has_next %}
                                <li class="page-item"><a class="page-link" href="?page={{ news.next_page_number }}"><i class="fa fa-angle-double-right"></i></a></li>
                            {% endif %}
                        </ul>
                        <p class="text-center">{{ news }}</p>
                    </nav>
                    {% else %}
                          <p class="text-center mt-5">{{ news }}</p>
                    {% endif %}
                </div>

                <div class="col-12 col-lg-5">
                    <div class="blog-sidebar-area">

                        <!-- Latest Posts Widget -->
                        <div class="latest-posts-widget mt-3">

                            <!-- Technology -->
                            {% for tech in technology %}
                            <div class="single-blog-post small-featured-post d-flex">
                                <div class="post-thumb">
                                    <a href="{% url 'blog-news-detail' slug=tech.slug %}"><img src="{{ tech.picture.url }}" alt=""></a>
                                </div>
                                <div class="post-data">
                                    <a href="{% url 'blog-news-detail' slug=tech.slug %}" class="post-catagory">{{ tech.category.title }}</a>
                                    <div class="post-meta">
                                        <a href="{% url 'blog-news-detail' slug=tech.slug %}" class="post-title">
                                            <h6>{{ tech.title }}</h6>
                                        </a>
                                        <p class="post-date"><span>{{ tech.date|date:'g:i A' }}</span> | <span>{{ tech.date|date:'F j' }}</span></p>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            <!-- Art/Culture -->
                            {% for art in arts %}
                            <div class="single-blog-post small-featured-post d-flex">
                                <div class="post-thumb">
                                    <a href="{% url 'blog-news-detail' slug=art.slug %}"><img src="{{ art.picture.url }}" alt=""></a>
                                </div>
                                <div class="post-data">
                                    <a href="{% url 'blog-news-detail' slug=art.slug %}" class="post-catagory">{{ art.category.title }}</a>
                                    <div class="post-meta">
                                        <a href="{% url 'blog-news-detail' slug=art.slug %}" class="post-title">
                                            <h6>{{ art.title }}</h6>
                                        </a>
                                        <p class="post-date"><span>{{ art.date|date:'g:i A' }}</span> | <span>{{ art.date|date:'F j' }}</span></p>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            <!-- Health -->
                            {% for heal in health %}
                            <div class="single-blog-post small-featured-post d-flex">
                                <div class="post-thumb">
                                    <a href="{% url 'blog-news-detail' slug=heal.slug %}"><img src="{{ heal.picture.url }}" alt=""></a>
                                </div>
                                <div class="post-data">
                                    <a href="{% url 'blog-news-detail' slug=heal.slug %}" class="post-catagory">{{ heal.category.title }}</a>
                                    <div class="post-meta">
                                        <a href="{% url 'blog-news-detail' slug=heal.slug %}" class="post-title">
                                            <h6>{{ heal.title }}</h6>
                                        </a>
                                        <p class="post-date"><span>{{ heal.date|date:'g:i A' }}</span> | <span>{{ heal.date|date:'F j' }}</span></p>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            <!-- Fashion -->
                            {% for fash in fashion %}
                            <!-- Single Featured Post -->
                            <div class="single-blog-post small-featured-post d-flex">
                                <div class="post-thumb">
                                    <a href="{% url 'blog-news-detail' slug=fash.slug %}"><img src="{{ fash.picture.url }}" alt=""></a>
                                </div>
                                <div class="post-data">
                                    <a href="{% url 'blog-news-detail' slug=fash.slug %}" class="post-catagory">{{ fash.category.title }}</a>
                                    <div class="post-meta">
                                        <a href="{% url 'blog-news-detail' slug=fash.slug %}" class="post-title">
                                            <h6>{{ fash.title }}</h6>
                                        </a>
                                        <p class="post-date"><span>{{ fash.date|date:'g:i A' }}</span> | <span>{{ fash.date|date:'F j' }}</span></p>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            <!-- Politics -->
                            {% for politics in politics %}
                            <div class="single-blog-post small-featured-post d-flex">
                                <div class="post-thumb">
                                    <a href="{% url 'blog-news-detail' slug=politics.slug %}"><img src="{{ politics.picture.url }}" alt=""></a>
                                </div>
                                <div class="post-data">
                                    <a href="{% url 'blog-news-detail' slug=politics.slug %}" class="post-catagory">{{ politics.category.title }}</a>
                                    <div class="post-meta">
                                        <a href="{% url 'blog-news-detail' slug=politics.slug %}" class="post-title">
                                            <h6>{{ politics.title }}</h6>
                                        </a>
                                        <p class="post-date"><span>{{ politics.date|date:'g:i A' }}</span> | <span>{{ politics.date|date:'F j' }}</span></p>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            <!-- Business -->
                            {% for bus in business %}
                            <div class="single-blog-post small-featured-post d-flex">
                                <div class="post-thumb">
                                    <a href="{% url 'blog-news-detail' slug=bus.slug %}"><img src="{{ bus.picture.url }}" alt=""></a>
                                </div>
                                <div class="post-data">
                                    <a href="{% url 'blog-news-detail' slug=bus.slug %}" class="post-catagory">{{ bus.category.title }}</a>
                                    <div class="post-meta">
                                        <a href="{% url 'blog-news-detail' slug=bus.slug %}" class="post-title">
                                            <h6>{{ bus.title }}</h6>
                                        </a>
                                        <p class="post-date"><span>{{ bus.date|date:'g:i A' }}</span> | <span>{{ bus.date|date:'F j' }}</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        <!-- Popular News Widget -->
                        <div class="popular-news-widget mb-50">
                            <h3>4 Most Popular News</h3>

                            <!-- Single Popular Blog -->
                            <div class="single-popular-post">
                                <a href="#">
                                    <h6><span>1.</span> Amet, consectetur adipiscing elit. Nam eu metus sit amet odio sodales.</h6>
                                </a>
                                <p>April 14, 2018</p>
                            </div>

                            <!-- Single Popular Blog -->
                            <div class="single-popular-post">
                                <a href="#">
                                    <h6><span>2.</span> Consectetur adipiscing elit. Nam eu metus sit amet odio sodales placer.</h6>
                                </a>
                                <p>April 14, 2018</p>
                            </div>

                            <!-- Single Popular Blog -->
                            <div class="single-popular-post">
                                <a href="#">
                                    <h6><span>3.</span> Adipiscing elit. Nam eu metus sit amet odio sodales placer. Sed varius leo.</h6>
                                </a>
                                <p>April 14, 2018</p>
                            </div>

                            <!-- Single Popular Blog -->
                            <div class="single-popular-post">
                                <a href="#">
                                    <h6><span>4.</span> Eu metus sit amet odio sodales placer. Sed varius leo ac...</h6>
                                </a>
                                <p>April 14, 2018</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Blog Area End ##### -->

{% endblock content %}