{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
    <!-- ##### Blog Area Start ##### -->
    <div class="blog-area section-padding-0-80">
        <div class="container">
            <div class="row bg">
                <div class="col-12 col-lg-7 bg-light">
                    <div class="blog-posts-area">
                        {% for politics in politics %}
                        <div class="row mt-3 mb-3">
                        <div class="col-6 col-md-6">
                            <a href="{{ politics.get_absolute_url }}"><img src="{{ politics.picture.url }}" alt=""></a>
                        </div>
                        <div class=" col-6 text">
                            <h6 class="post-title">{{ politics.title }}</h6>
                            <div class="post-meta d-flex">
                                <a href="#"><i class="fa fa-user pr-1" aria-hidden="true"></i>{{ politics.reporter }}</a>
                                <a href="#"><i class="fa fa-calendar pl-2 pr-1" aria-hidden="true"></i>{{ politics.date|date:'F d, Y' }}</a>
                            </div>
                            <p>{{ politics.content|truncatewords:15 }}</p>
                            <a href="{{ politics.get_absolute_url }}" class="btn btn-danger" role="button">Read more</a>
                        </div>
                        </div>
                        {% endfor %}
                    </div>
                    <nav aria-label="Page navigation example">
                        <ul class="pagination mt-50">
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">4</a></li>
                            <li class="page-item"><a class="page-link" href="#">5</a></li>
                            <li class="page-item"><a class="page-link" href="#">...</a></li>
                            <li class="page-item"><a class="page-link" href="#">10</a></li>
                        </ul>
                    </nav>
                </div>

                <div class="col-12 col-lg-5">
                    <div class="blog-sidebar-area">

                        <!-- Latest Posts Widget -->
                        <div class="latest-posts-widget mt-3">

                            <!-- Technology -->
                            {% for tech in technology %}
                            <div class="single-blog-post small-featured-post d-flex">
                                <div class="post-thumb">
                                    <a href="#"><img src="{{ tech.picture.url }}" alt=""></a>
                                </div>
                                <div class="post-data">
                                    <a href="#" class="post-catagory">Technology</a>
                                    <div class="post-meta">
                                        <a href="#" class="post-title">
                                            <h6>{{ tech.title }}</h6>
                                        </a>
                                        <p class="post-date"><span>{{ tech.date|date:'g:i A' }}</span> | <span>{{ tech.date|date:'F j' }}</span></p>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            <!-- Business -->
                            {% for bus in business %}
                            <div class="single-blog-post small-featured-post d-flex">
                                <div class="post-thumb">
                                    <a href="#"><img src="{{ bus.picture.url }}" alt=""></a>
                                </div>
                                <div class="post-data">
                                    <a href="#" class="post-catagory">Business</a>
                                    <div class="post-meta">
                                        <a href="#" class="post-title">
                                            <h6>{{ bus.title }}</h6>
                                        </a>
                                        <p class="post-date"><span>{{ bus.date|date:'g:i A' }}</span> | <span>{{ bus.date|date:'F j' }}</span></p>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            <!-- Health -->
                            {% for heal in health %}
                            <div class="single-blog-post small-featured-post d-flex">
                                <div class="post-thumb">
                                    <a href="#"><img src="{{ heal.picture.url }}" alt=""></a>
                                </div>
                                <div class="post-data">
                                    <a href="#" class="post-catagory">Health</a>
                                    <div class="post-meta">
                                        <a href="#" class="post-title">
                                            <h6>{{ heal.title }}</h6>
                                        </a>
                                        <p class="post-date"><span>{{ heal.date|date:'g:i A' }}</span> | <span>{{ heal.date|date:'F j' }}</span></p>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}

                            {% for fash in fashion %}
                            <!-- Single Featured Post -->
                            <div class="single-blog-post small-featured-post d-flex">
                                <div class="post-thumb">
                                    <a href="#"><img src="{{ fash.picture.url }}" alt=""></a>
                                </div>
                                <div class="post-data">
                                    <a href="#" class="post-catagory">Fashion</a>
                                    <div class="post-meta">
                                        <a href="#" class="post-title">
                                            <h6>{{ fash.title }}</h6>
                                        </a>
                                        <p class="post-date"><span>{{ fash.date|date:'g:i A' }}</span> | <span>{{ fash.date|date:'F j' }}</span></p>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            <!-- Arts/culture -->
                            {% for art in arts %}
                            <div class="single-blog-post small-featured-post d-flex">
                                <div class="post-thumb">
                                    <a href="#"><img src="{{ art.picture.url }}" alt=""></a>
                                </div>
                                <div class="post-data">
                                    <a href="#" class="post-catagory">Arts/Culture</a>
                                    <div class="post-meta">
                                        <a href="#" class="post-title">
                                            <h6>{{ art.title }}</h6>
                                        </a>
                                        <p class="post-date"><span>{{ art.date|date:'F j' }}</span> | <span>{{ art.date|date:'F j' }}</span></p>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            <!-- Politics -->
                            {% for enter in entertainment %}
                            <div class="single-blog-post small-featured-post d-flex">
                                <div class="post-thumb">
                                    <a href="#"><img src="{{ enter.picture.url }}" alt=""></a>
                                </div>
                                <div class="post-data">
                                    <a href="#" class="post-catagory">Entertainment</a>
                                    <div class="post-meta">
                                        <a href="#" class="post-title">
                                            <h6>{{ enter.title }}</h6>
                                        </a>
                                        <p class="post-date"><span>{{ enter.date|date:'F j' }}</span> | <span>{{ enter.date|date:'F j' }}</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        <!-- Popular News Widget -->
                        <div class="popular-news-widget mb-50">
                            <h3>4 Most Popular News</h3>

                            <!-- Single Popular Blog -->
                            <div class="single-popular-post">
                                <a href="#">
                                    <h6><span>1.</span> Amet, consectetur adipiscing elit. Nam eu metus sit amet odio sodales.</h6>
                                </a>
                                <p>April 14, 2018</p>
                            </div>

                            <!-- Single Popular Blog -->
                            <div class="single-popular-post">
                                <a href="#">
                                    <h6><span>2.</span> Consectetur adipiscing elit. Nam eu metus sit amet odio sodales placer.</h6>
                                </a>
                                <p>April 14, 2018</p>
                            </div>

                            <!-- Single Popular Blog -->
                            <div class="single-popular-post">
                                <a href="#">
                                    <h6><span>3.</span> Adipiscing elit. Nam eu metus sit amet odio sodales placer. Sed varius leo.</h6>
                                </a>
                                <p>April 14, 2018</p>
                            </div>

                            <!-- Single Popular Blog -->
                            <div class="single-popular-post">
                                <a href="#">
                                    <h6><span>4.</span> Eu metus sit amet odio sodales placer. Sed varius leo ac...</h6>
                                </a>
                                <p>April 14, 2018</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Blog Area End ##### -->

{% endblock content %}