{% extends 'blog/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block navbar %}
     <!-- ##### Header Area Start ##### -->
    <header class="header-area">
         <div class="top-header-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="top-header-content d-flex align-items-center justify-content-between">
                            <!-- Logo -->
                            <div class="logo">
                                <a href="{% url 'blog-home' %}"><img src="{% static 'blog/img/core-img/edunes_logo.png' %}" alt=""></a>
                            </div>

                            <!-- Login Search Area -->
                            <div class="login-search-area d-flex align-items-center">
                                <!-- Search Form -->
                                <div class="search-form">
                                    <form action="{% url 'search-result' %}" method="get">
                                        {% csrf_token %}
                                        <input type="search" name="search" class="form-control" placeholder="Search...">
                                        <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Navbar Area -->
        <div class="newspaper-main-menu" id="stickyMenu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="newspaperNav">

                        <!-- Logo -->
                        <div class="logo">
                            <a href="index.html"><img src="{% static 'blog/img/core-img/edunes_logo.png' %}" alt=""></a>
                        </div>

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- close btn -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul id="nav_active">
                                    <li><a href="{% url 'blog-home' %}">Home</a></li>
                                    <li><a href="{% url 'blog-politics' %}">Politics</a></li>
                                    <li><a href="{% url 'blog-business' %}">Business</a></li>
                                    <li><a href="{% url 'blog-technology' %}">Technology</a></li>
                                    <li><a href="{% url 'blog-entertainment' %}">Entertainment</a></li>
                                    <li><a href="{% url 'blog-fashion' %}">Fashion</a></li>
                                    <li><a href="{% url 'blog-arts-culture' %}">Arts/Culture</a></li>
                                    <li><a href="{% url 'blog-health' %}">Health</a></li>
                                    <li><a href="{% url 'blog-sport' %}">Sports</a></li>
                                    <li><a href="#">Society</a>
                                        <div class="megamenu">
                                            <ul class="single-mega cn-col-4">
                                                <li class="title">Institutions</li>
                                                <li><a href="{% url 'university-of-ghana' %}">University of Ghana</a></li>
                                                <li><a href="#">University of Cape Coast</a></li>
                                                <li><a href="#">KNUST</a></li>
                                                <li><a href="#">University of Education</a></li>
                                                <li><a href="#">University for Development Studies</a></li>
                                            </ul>
                                            <ul class="single-mega cn-col-4">
                                                <li class="title">Institutions</li>
                                                <li><a href="#">University of Mines and Technology</a></li>
                                                <li><a href="#">University of Professional studies</a></li>
                                                <li><a href="#">University of Health and Allied Science</a></li>
                                                <li><a href="#">University of Energy and Natural Resources</a></li>
                                                <li><a href="#">Ashesi University</a></li>
                                            </ul>
                                            <ul class="single-mega cn-col-4">
                                                <li class="title">Institutions</li>
                                                <li><a href="#">Accra Technical University</a></li>
                                                <li><a href="#">Cape Coast Technical University</a></li>
                                                <li><a href="#">Kumasi Technical University</a></li>
                                                <li><a href="#">Koforidua Technical University</a></li>
                                                <li><a href="#">Takoradi Technical University</a></li>
                                            </ul>
                                            <div class="single-mega cn-col-4">
                                            </div>
                                        </div>
                                    </li>
                                    <li><a href="{% url 'blog-contact' %}">Contact</a></li>
                                </ul>

                            </div>
                            <!-- Nav End -->
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->
{% endblock navbar %}
{% block content %}

    <div class="container">
      <div class="row mb-2">
        <div class="col-md-6 mt-3">
            <p>orem ipsum dolor sit amet, consectetur adipiscing elit. Morbi semper, magna non vehicula sollicitudin, dolor nibh hendrerit sapien, sit amet imperdiet urna ligula maximus enim. Vestibulum nec efficitur neque. Nullam rhoncus dapibus justo. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Duis tincidunt vitae tortor vel condimentum. Donec sollicitudin neque vitae odio efficitur, nec euismod turpis euismod. Sed tristique euismod lacus a lobortis. Donec suscipit venenatis nibh. Pellentesque blandit nulla dolor, a convallis sem ornare malesuada</p>
        </div>
        <div class="col-md-6 mt-3">
          {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

          <form method="POST" enctype="multipart/form-data">
              {% csrf_token %}
            <div class="form-group">
                {{ form.title }}
            </div>
            <div class="form-group">
                {{ form.category }}
            </div>
              <div class="form-group">
                  {{ form.picture }}
              </div>
                <p class="file-return"></p>
            <div class="form-group">
                {{ form.video }}
            </div>
            <div class="form-group">
                {{ form.content }}
            </div>
            <div class="form-group">
                {{ form.reporter }}
            </div>
            <div class="form-group">
                {{ form.phone }}
            </div>
            <div class="form-group">
                {{ form.email }}
            </div>
            <div class="form-group">
              <input type="submit" value="Send News" class="btn btn-danger py-3 px-5">
            </div>
          </form>
        </div>
      </div>
    </div>
{% endblock %}