{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
    <!-- ##### Blog Area Start ##### -->
    <div class="blog-area section-padding-0-80">
        <div class="container">
            <div class="row bg">
                <div class="col-12 col-lg-7 bg-light">
                    <div class="blog-posts-area">
                        {% for tech in news %}
                        <div class="row mt-3 mb-3">
                        <div class="col-6 col-md-6">
                            <a href="{{ tech.get_absolute_url }}"><img src="{{ tech.picture.url }}" alt=""></a>
                        </div>
                        <div class=" col-6 text">
                            <h6 class="post-title">{{ tech.title }}</h6>
                            <div class="post-meta d-flex">
                                <a href="#"><i class="fa fa-user pr-1" aria-hidden="true"></i>{{ tech.reporter }}</a>
                                <a href="#"><i class="fa fa-calendar pl-2 pr-1" aria-hidden="true"></i>{{ tech.date|date:'F d, Y' }}</a>
                            </div>
                            <p>{{ tech.content|truncatewords:15 }}</p>
                            <a href="{{ tech.get_absolute_url }}" class="btn btn-danger" role="button">Read more</a>
                        </div>
                        </div>
                        {% endfor %}
                    </div>
                      {% if news.has_other_pages %}
                    <nav aria-label="Page navigation example">
                        <ul class="pagination mt-50">
                            {% if news.has_previous %}
                                <li class="page-item"><a class="page-link" href="?page={{ news.previous_page_number }}"><i class="fa fa-angle-double-left"></i></a></li>
                            {% endif %}
                            {% for i in news.paginator.page_range %}
                                {% if news.number == i %}
                                    <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
                                {% else %}
                                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                {% endif %}
                            {% endfor %}
                            {% if news.has_next %}
                                <li class="page-item"><a class="page-link" href="?page={{ news.next_page_number }}"><i class="fa fa-angle-double-right"></i></a></li>
                            {% endif %}
                        </ul>
                        <p class="text-center">{{ news }}</p>
                    </nav>
                    {% else %}
                          <p class="text-center mt-5">{{ news }}</p>
                    {% endif %}
                </div>

                <div class="col-12 col-lg-5">
                    <div class="blog-sidebar-area">

                        <!-- Latest Posts Widget -->
                        <div class="latest-posts-widget mt-3">

                            <!-- Business -->
                            {% for bus in business %}
                            <div class="single-blog-post small-featured-post d-flex">
                                <div class="post-thumb">
                                    <a href="{% url 'blog-news-detail' slug=bus.slug %}"><img src="{{ bus.picture.url }}" alt=""></a>
                                </div>
                                <div class="post-data">
                                    <a href="{% url 'blog-news-detail' slug=bus.slug %}" class="post-catagory">{{ bus.category.title }}</a>
                                    <div class="post-meta">
                                        <a href="{% url 'blog-news-detail' slug=bus.slug %}" class="post-title">
                                            <h6>{{ bus.title }}</h6>
                                        </a>
                                        <p class="post-date"><span>{{ bus.date|date:'g:i A' }}</span> | <span>{{ bus.date|date:'F j' }}</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                            <!-- Art/Culture -->
                            {% for art in arts %}
                            <div class="single-blog-post small-featured-post d-flex">
                                <div class="post-thumb">
                                    <a href="{% url 'blog-news-detail' slug=art.slug %}"><img src="{{ art.picture.url }}" alt=""></a>
                                </div>
                                <div class="post-data">
                                    <a href="{% url 'blog-news-detail' slug=art.slug %}" class="post-catagory">{{ art.category.title }}</a>
                                    <div class="post-meta">
                                        <a href="{% url 'blog-news-detail' slug=art.slug %}" class="post-title">
                                            <h6>{{ art.title }}</h6>
                                        </a>
                                        <p class="post-date"><span>{{ art.date|date:'g:i A' }}</span> | <span>{{ art.date|date:'F j' }}</span></p>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            <!-- Health -->
                            {% for heal in health %}
                            <div class="single-blog-post small-featured-post d-flex">
                                <div class="post-thumb">
                                    <a href="{% url 'blog-news-detail' slug=heal.slug %}"><img src="{{ heal.picture.url }}" alt=""></a>
                                </div>
                                <div class="post-data">
                                    <a href="{% url 'blog-news-detail' slug=heal.slug %}" class="post-catagory">{{ heal.category.title }}</a>
                                    <div class="post-meta">
                                        <a href="{% url 'blog-news-detail' slug=heal.slug %}" class="post-title">
                                            <h6>{{ heal.title }}</h6>
                                        </a>
                                        <p class="post-date"><span>{{ heal.date|date:'g:i A' }}</span> | <span>{{ heal.date|date:'F j' }}</span></p>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            <!-- Entertainment -->
                            {% for enter in entertainment %}
                            <!-- Single Featured Post -->
                            <div class="single-blog-post small-featured-post d-flex">
                                <div class="post-thumb">
                                    <a href="{% url 'blog-news-detail' slug=enter.slug %}"><img src="{{ enter.picture.url }}" alt=""></a>
                                </div>
                                <div class="post-data">
                                    <a href="{% url 'blog-news-detail' slug=enter.slug %}" class="post-catagory">{{ enter.category.title }}</a>
                                    <div class="post-meta">
                                        <a href="{% url 'blog-news-detail' slug=enter.slug %}" class="post-title">
                                            <h6>{{ enter.title }}</h6>
                                        </a>
                                        <p class="post-date"><span>{{ enter.date|date:'g:i A' }}</span> | <span>{{ enter.date|date:'F j' }}</span></p>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            <!-- Politics -->
                            {% for politics in politics %}
                            <div class="single-blog-post small-featured-post d-flex">
                                <div class="post-thumb">
                                    <a href="{% url 'blog-news-detail' slug=politics.slug %}"><img src="{{ politics.picture.url }}" alt=""></a>
                                </div>
                                <div class="post-data">
                                    <a href="{% url 'blog-news-detail' slug=politics.slug %}" class="post-catagory">{{ politics.category.title }}</a>
                                    <div class="post-meta">
                                        <a href="{% url 'blog-news-detail' slug=politics.slug %}" class="post-title">
                                            <h6>{{ politics.title }}</h6>
                                        </a>
                                        <p class="post-date"><span>{{ politics.date|date:'g:i A' }}</span> | <span>{{ politics.date|date:'F j' }}</span></p>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            <!-- Fashion -->
                            {% for fash in fashion %}
                            <div class="single-blog-post small-featured-post d-flex">
                                <div class="post-thumb">
                                    <a href="{% url 'blog-news-detail' slug=fash.slug %}"><img src="{{ fash.picture.url }}" alt=""></a>
                                </div>
                                <div class="post-data">
                                    <a href="{% url 'blog-news-detail' slug=fash.slug %}" class="post-catagory">{{ fash.category.title }}</a>
                                    <div class="post-meta">
                                        <a href="{% url 'blog-news-detail' slug=fash.slug %}" class="post-title">
                                            <h6>{{ fash.title }}</h6>
                                        </a>
                                        <p class="post-date"><span>{{ fash.date|date:'g:i A' }}</span> | <span>{{ fash.date|date:'F j' }}</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        <!-- Popular News Widget -->
                        <div class="popular-news-widget mb-50">
                            <h3>4 Most Popular News</h3>

                            <!-- Single Popular Blog -->
                            <div class="single-popular-post">
                                <a href="#">
                                    <h6><span>1.</span> Amet, consectetur adipiscing elit. Nam eu metus sit amet odio sodales.</h6>
                                </a>
                                <p>April 14, 2018</p>
                            </div>

                            <!-- Single Popular Blog -->
                            <div class="single-popular-post">
                                <a href="#">
                                    <h6><span>2.</span> Consectetur adipiscing elit. Nam eu metus sit amet odio sodales placer.</h6>
                                </a>
                                <p>April 14, 2018</p>
                            </div>

                            <!-- Single Popular Blog -->
                            <div class="single-popular-post">
                                <a href="#">
                                    <h6><span>3.</span> Adipiscing elit. Nam eu metus sit amet odio sodales placer. Sed varius leo.</h6>
                                </a>
                                <p>April 14, 2018</p>
                            </div>

                            <!-- Single Popular Blog -->
                            <div class="single-popular-post">
                                <a href="#">
                                    <h6><span>4.</span> Eu metus sit amet odio sodales placer. Sed varius leo ac...</h6>
                                </a>
                                <p>April 14, 2018</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Blog Area End ##### -->

{% endblock content %}